@model Bid;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@{
    ViewData["Title"] = "Add Bid | Assignment1";
}
<form asp-controller="Home" asp-action="addBid"  enctype="multipart/form-data">
  <label asp-for="ItemName" >Product Name:</label>
  <input type="text" id="product-name" asp-for="ItemName" required>
  <br>
  
  <label asp-for="ItemDescription">Product Description:</label>
  <textarea id="product-description" asp-for="ItemDescription" required></textarea>
  <br>
  
  <label asp-for="MinimumCost">Minimum Cost/Bid amount:</label>
  <input type="number" id="minimum-bid" asp-for="MinimumCost" required>
  <br>
  
  <label asp-for="AuctionDatesStart">Starting Bid Date:</label>
  <input type="datetime-local" id="auction-start-date" asp-for="AuctionDatesStart" required>
  <br>
  <label  asp-for="AuctionDates">Expiry Bid Date:</label>
  <input type="datetime-local" id="auction-start-date" asp-for="AuctionDates" required>
  <br>
  
  <label  asp-for="AssetCondition">Asset Condition:</label>
  <select id="asset-condition" asp-for="AssetCondition" required>
    <option disabled value="">Select</option>
    <option value="new">New</option>
    <option value="used">Used</option>
    <option value="refurbished">Refurbished</option>
  </select>
  <br>
  
   <label  asp-for="CategoryId">Asset Condition:</label>
  <select id="asset-condition" asp-for="CategoryId" required>
    <option disabled value="">Select</option>

        @foreach (var cat in @ViewBag.cat)
        {
             <option  value="@cat.CategoryId">@cat.CategoryName</option>
        }

  </select>
  <br>
  
  <label asp-for="ImageUpload">Image Upload:</label>
  <input type="file" id="image-upload" asp-for="ImageUpload" accept="image/*" required>
  <br>
  
  <input type="submit" value="Submit">
</form>