@model IEnumerable<Bid>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Search Results</h2>

    <section style="display:flex; flex-wrap:wrap; ">
@foreach(var product in @Model){
    <ul style="width:24%; margin: 5% 0 0 1%;list-style:none; box-shadow: -6px 20px 23px 5px rgba(0,0,0,0.54); text-align:center;">
           <a asp-controller="Home"  asp-action="Info" asp-route-id="@product.BidId">
            <li><img src="~/@product.ImageName" style="width:90%;" ></li>
               <li>@product.ItemName</li>
               <li>@product.ItemDescription</li>
            <li>@product.MinimumCost</li>
            </a>

     </ul>
}

</section>